<!-- <p>
cart works!
</p> -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h3>Cart</h3>

<!-- <div class = "shipping" id = "ship">
<button>
  <a routerLink="/shipping">Shipping Prices</a>Know the Shipping Details
</button>
</div> -->

<ng-container>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th> Product Name </th>
        <th> Price </th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
      </tr>
     </tbody>
  </table>
</ng-container>
<!-- <div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div> -->



<!-- <div class = "register" id = "reg">
<button>
  <a routerLink="/product-form">Register</a>Proceed to Register
</button>
</div> -->

<ng-container>
  <table class = "table table-bordered">
    <thead>
      <tr>
        <th> Register </th>
        <th> Shipping Details </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <button>
              <a routerLink="/product-form">Register</a>Proceed to Register</button>
        </td>

        <td>
          <div class = "shipping" id = "ship">
<button>
  <a routerLink="/shipping">Shipping Prices</a>Know the Shipping Details
</button>
</div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>


<!-- <div class = "shipping" id = "ship">
<button>
  <a routerLink="/shipping">Shipping Prices</a>Know the Shipping Details
</button>
</div> -->

<!-- <div [hidden]="!onClickOpenForm()" *ngIf="openform">
  <form [formGroup]="checkoutForm" 
  (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

  </form>
 </div> -->


